<!doctype html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/backstageNavigator:: head"></div>
</head>

<body>
<div th:replace="common/backstageNavigator:: banner"></div>
<div th:replace="common/backstageNavigator:: navi(active='HomePage.html')"></div>

<div class="container-fluid" id="HomePage">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-top:48px;">
            <div class="jumbotron">
                <div class="container">
                    <h1>欢迎登录！ 管理员</h1>
                    <p>欢迎登录毕业设计后台管理系统</p>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>

</html>