<!doctype html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/backstageNavigator:: head"></div>
</head>

<body>
<div th:replace="common/backstageNavigator:: banner"></div>
<div th:replace="common/backstageNavigator:: navi(active='HomePage.html')"></div>

<div class="container-fluid" id="HomePage">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-top:48px;">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">当前学期</h1>
            </div>
            <div class="row mb-2">
                <div class="col-md-10">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">{{start}}-{{end}} 第{{CurrentSemester}}学期</a>
                            </h3>
                            <h1></h1>
                            <strong class="d-inline-block mb-2 text-primary">开始时间：2019年2月20日</strong>
                            <strong class="d-inline-block mb-2 text-primary">结束时间：2019年6月20日</strong>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
    var homePage = new Vue({
        el :'#HomePage',
        data:{
            start: '[[${currentSemesterInfo.start}]]',
            end: '[[${currentSemesterInfo.end}]]',
            CurrentSemester: '[[${currentSemesterInfo.semester}]]'
        }

    })
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>

</html>