<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<header th:replace="app/header::static"></header>
<body>
<div th:replace="app/header::header"></div>
<div class="row">
    <div th:replace="app/header::carousel"></div>
</div>
<!-- 主体 -->
<div>
    <!--未完成的-->
    <!--        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne" style="text-decoration: none">
                            个人信息
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <h4>[[${userinfo.sname}]]</h4>
                        <p> 学院：[[${userinfo.college}]] </p>
                        <p> 专业：[[${userinfo.major}]] </p>
                        <p> 班级：[[${userinfo.klass}]] </p>
                    </div>
                </div>
            </div>-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseTwo" style="text-decoration: none">
                    毕业设计
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="index_wdyy">
                    <ul class="list-unstyled mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                        <li class="col-md-4 col-sm-4">
                            <a href="/TeaLookThroughQues" target="_blank">
                                <img src="images/ico_but30.png"/>
                                <h5>查看论题</h5>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4">
                            <a href="/TeaAddQues" target="_blank">
                                <img src="images/ico_but42.png"/>
                                <h5>添加论题</h5>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4">
                            <a href="/TeaAddScore" target="_blank">
                                <img src="images/ico_but46.png"/>
                                <h5>成绩评定</h5>
                            </a>
                            </a>
                        </li>
                        <!--                            <li class="col-md-4 col-sm-4">
                                                        <a href="/coursetable" target="_blank">
                                                            <img src="images/ico_but28.png"/>
                                                            <h5>课表查询</h5>
                                                        </a>
                                                    </li>
                                                    <li class="col-md-4 col-sm-4">
                                                        <a href="/gradeinfo" target="_blank">
                                                            <img src="images/ico_but46.png"/>
                                                            <h5>成绩查询</h5>
                                                        </a>
                                                    </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--未完成的-->
    <!--        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/fixpasswordstudent" target="_blank" style="text-decoration: none">
                            密码修改
                        </a>
                    </h4>
                </div>
            </div>-->
</div>
</body>
</html>