<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<header th:replace="app/header::static"></header>
<body>
<div th:replace="app/header::header"></div>
<div class="row">
    <div th:replace="app/header::carousel"></div>
</div>
<!-- 主体 -->
<div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseTwo" style="text-decoration: none">
                    毕业设计
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="index_wdyy">
                    <ul class="list-unstyled mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                        <li class="col-md-4 col-sm-4">
                            <a href="/TeaLookThroughQues" target="_blank">
                                <img src="images/ico_but30.png"/>
                                <h5>查看题目</h5>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4">
                            <a href="/TeaAddQues" target="_blank">
                                <img src="images/ico_but42.png"/>
                                <h5>添加题目</h5>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4">
                            <a href="/TeaAddScore" target="_blank">
                                <img src="images/ico_but46.png"/>
                                <h5>指导成绩</h5>
                            </a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/fixpassword" target="_blank" style="text-decoration: none">
                    密码修改
                </a>
            </h4>
        </div>
    </div>
</div>
</body>
</html>