<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="suse.software.dao.PowerDao">
    <select id="getPower" resultType="suse.software.domain.Power">
        select * from power where power.powername = #{ powername }
    </select>
    <update id="updatePower" parameterType="suse.software.domain.Power">
        update power
        <set>
            power.powername = #{ powername },
            power.score = #{score}
        </set>
    </update>
</mapper>